<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="row">
        <div class="box-header">
            <div class="dropdown text-right py-2">
                <span>Xin chào</span><a class="dropdown-toggle text-primary" data-toggle="dropdown" id="name-login" ><span></i>&nbsp;&nbsp;Admin</span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">
                        <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Đăng xuất</a>
                </div>
            </div>
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="btn_nav">
            <i class="fa fa-bars" id="btn_open"></i>
            <i class="fa fa-bars" id="btn_close"></i>
        </label>
        <div class="col-2 sidebarright">
            <div class="sidebar">
                <h3>ADMIN HOME</h3>
                <ul>
                    <li><a href=""><i class="fas fa-home"></i>&nbsp;&nbsp; Trang chủ</a></li>
                    <li><a href=""><i class="far fa-id-card"></i>&nbsp;&nbsp; Tài khoản</a></li>
                    <li><a href="/admin/create_account"><i class="fas fa-user"></i>&nbsp;&nbsp; Tạo tài khoản Phòng/Khoa</a></li>
                </ul>
            </div>
        </div>
        
        
        
    </div>
    
    
</body>
</html>