<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chi Tiết Thông Báo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        
        .fa-star {
            color:lightgray;
            font-size: 150%;
        }
        .checked {
            color: orange;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Xem toàn bộ thông báo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Đăng xuất</a>
            </li>  
          </ul>
        </div>  
      </nav>
      <br>
<div class="container">
  <div class="mt-2">
    <button onclick="goBack()" class="btn btn-primary px-4">Quay lại trang trước</button>
</div>
    <div class="row justify-content-center mt-2">
        <div class="m-4 m-md-0 col-md-10 col-lg-12 border rounded p-6"> 
            <h3 class="text-primary"><%=p.title%></h3>
            <span class="badge badge-primary"><%=p.permission%></span>
            <h4 class="text-danger text-bold">$1,200</h4>
            <div class="text-secondary text-justify">
                <p id="txt" class="text-dark"><%=p.context%></p>    
            </div>
        </div>
    </div>
    
</div>
<script>
  function goBack() {
      window.history.back();
   }
   var txt = $('#txt').text()
   var text = $.parseHTML(txt)
   $('#txt').text('')
   $('#txt').append(text)
</script>
</body>
</html>

